@media (min-width: 786px) {
    p {
        width: 50%;
    }

    .chart-container {
        width: 50%;
    }
}

.MathJax, .MathJax_SVG, .mjx-chtml, .MathJax_CHTML {
    display: flex;
    padding: 0.5em;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.MathJax_Display .MathJax {
    display: inline-block;
    width: 100%;
}
