<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Don't bet on an expected value</title>
    <meta property="og:title" content="Don't bet on an expected value">
    <meta property="og:image" content="https://lambdaclass.com/data_etudes/img/dontbetonanev.png">
    <meta property="og:url" content="https://lambdaclass.com/data_etudes/dont_bet_on_an_ev.html">
    <meta name="twitter:card" content="dont_bet_on_an_ev">
    <meta name="twitter:image:src" content="https://lambdaclass.com/data_etudes/img/dontbetonanev.png">
    <meta name="description" content="Don't bet on an expected value">

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://edwardtufte.github.io/tufte-css/tufte.css">

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  </head>
  <body>
    <h1>Don't bet on an expected value</h1>
    <h3>Federico Carrone and Fernando Lopez</h3>
    <article>
      $body$
    </article>
  </body>
  <script src="./js/simulation.js"></script>
</html>
